@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@505&family=Philosopher&family=Playfair+Display:wght@400;500&family=Poppins:wght@800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;

}

li, a, button{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #0088a9;
}

.header a{
    width: auto;
    height: auto;
    background-color: #0088a9;
}

.logo{
    cursor: pointer;
    background-color: #0088a9;
}

.nav{
    list-style: none;
    width: auto;
    height: auto;
    background-color: #0088a9;
}

.nav li{
    display: inline-block;
    padding: 0px 20px;
    width: auto;
    height: auto;
    background-color: #0088a9;
}

.nav li a{
    transition: all 0.3 s ease 0s;
    width: auto;
    height: auto;
    background-color: #0088a9;
}

.nav li a:hover{
    color: #00576d;
}

button{
    padding: 9px 25px;
    background-color: rgb(0, 155, 194, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 s ease 0s;
}

button:hover{
    background-color: rgb(0, 155, 194, 0.8);
}

.paralax{
    background-image: url(../images/paralax2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 864px;
    width: 100%;
    background-color: none;
}

.grid{
	width: 1500px;
	display: grid;
	grid-template-columns: auto auto auto;
	position: relative;
	align-items: center;
	grid-gap: 70px;
	text-align: center;
	margin-left: 12%;
    margin-bottom: 50%;
}

.des a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.des a:hover{
    background: #ffffff;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #212121;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.poster{
	height: 600px;
	width: 400px;
	background-color: rgb(239, 244, 253);
	border-radius: 10px;
	transform:translateY(130px);
}
.poster img{
	height: 300px;
	width: 400px;
	border-radius: 10px;
	margin-top: 0px;
}

.poster:hover img{
    transform: scale(1.08);
    transition: 0.8s;
}

.des{
	font-size: 20px;
	margin-top: 30px;
	color: black;
}
.des p{
	margin-bottom: 50px;
    font-weight: bolder;
}

.des small{
    font-weight: lighter;
    margin-right: 10px;
    margin-left: 10px;
}

.judul h1{
    font-weight: bolder;
}